crypto isakmp policy {{ item.policy_id }} 
encryption aes 256
authentication pre-share
group 14
lifetime 180
crypto isakmp key {{presharekey}} address {{peer_id}}

crypto ipsec transform-set {{transform_id | upper}} esp-aes 256 esp-sha-hmac
mode transport

crypto map {{map_id | upper}} 10 ipsec-isakmp
set peer {{peer_id}}
set transform-set {{transform_id | upper}}
match address {{acl_id}}

interface FastEthernet0/0
ip address 10.0.110.2 255.255.255.0
crypto map {{map_id | upper}}

ip route 0.0.0.0 0.0.0.0 10.5.1.1
ip route 10.0.110.0 255.255.255.0 FastEthernet0/0

access-list {{acl_id}} permit ip 10.0.110.0 0.0.0.255 10.0.110.0 0.0.0.255

